{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static "portfolio/custom.css" %}">

  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="{% static "portfolio/Logo.png" %}">
    <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="{% static "engine1/style.css" %}" />
<script type="text/javascript" src="{% static "engine1/jquery.js" %}"></script>
<!-- End WOWSlider.com HEAD section -->

  <title>Sultan Parvez</title>
</head>

<body>

  <nav id="topNav" class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "portfolio/Logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="Nick's Logo">
        <span>Sultan Parvez</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% static "portfolio/Resume.pdf" %}" target="_blank">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/sultanparvez/" target="_blank">LinkedIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/_SultanParvez" target="_blank">Twitter</a>
          </li>
          <li>
            <a role="button" href="{% url 'blog:all_blogs' %}" class="btn btn-primary">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Start WOWSlider.com BODY section -->
 
<div id="wowslider-container1">
<div class="ws_images"><ul>
    <li><img src="{%static "data1/images/sultan.png"%}" alt="Sultan" title="Sultan" id="wows1_0"/></li>
    <li><img src="{% static "data1/images/fahim.jpg"%}" alt="Fahim" title="Fahim" id="wows1_1"/></li>
    <li><img src="{% static "data1/images/fahim2.jpg"%}" title="Fahim2" id="wows1_2"/></li>
    <li><img src="{% static "data1/images/fahim3.jpg"%}" alt="javascript slideshow" title="Fahim3" id="wows1_3"/></a></li>
    <li><img src="{% static "data1/images/fahim4.jpg"%}" alt="Fahim4" title="Fahim4" id="wows1_4"/></li>
  </ul></div>
  <div class="ws_bullets"><div>
    <a href="#" title="Sultan"><span><img src="data1/tooltips/sultan.png" alt="Sultan"/>1</span></a>
    <a href="#" title="Fahim"><span><img src="data1/tooltips/fahim.jpg" alt="Fahim"/>2</span></a>
    <a href="#" title="Fahim2"><span><img src="data1/tooltips/fahim2.jpg" alt="Fahim2"/>3</span></a>
    <a href="#" title="Fahim3"><span><img src="data1/tooltips/fahim3.jpg" alt="Fahim3"/>4</span></a>
    <a href="#" title="Fahim4"><span><img src="data1/tooltips/fahim4.jpg" alt="Fahim4"/>5</span></a>
  </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">jquery carousel</a> by WOWSlider.com v9.0</div>
<div class="ws_shadow"></div>
</div>  
<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
